.bg-grad-nav{
    background-color: #06c0ba
}
.bg-dark {
    background-color: #262626!important;
}
.navbar-links{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.navbar-a{
    color: #979797;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.text-menu {
    color: #fff!important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.icons-pop{
    color: #a5dd39;
}
.search-square{
    background: url(../src/img/img-bg-abstract.jpg);
    width: 100%;
    vertical-align: middle;
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
    padding-top: 5%;
}
.btn-primary {
    color: #fff;
    background-color: #a5dd39 !important;
    /* border-color: #007bff; */
    border-color: rgb(255, 255, 255, 0) !important;
}