#search{
    background:coral;/* #FA7268; */
}
#section1{
    background: #FF453F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF453F, #2100FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF453F, #2100FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.container{
    flex-direction:row-reverse;
}