/* * {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }*/

    #root {
      /* background: url(../src/img/bg-phone3.jpg); */
      /* background-image: linear-gradient(to right bottom, #ed5050, #ef2871, #e0009a, #b627c7, #574aef); */
      /* background: #c31432;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #240b36, #c31432); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%); */
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
      width: 100%;
      height: 100vh;
      vertical-align: middle;
      background-size: cover;
  }
  #form-login {
      text-align: center;
      width: 100%;
      margin: auto;
      border: white;
      /* color: #ffffff; */
  }
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
  .popnsave{
      height: 5%;
  }
  #poplogo{
      height: 20%;
      width: 100%;
      display: flex;
  }
  .forget-password{
      color: white;
      text-align: center;
  }
  .row-password{
    padding: 1em;
  }
  #login-button {
      margin-top: 8%;
      width: 80%;
      height: 3.5em;
      font-weight: 600;
      border-radius: 50px;
      font-family: 'Montserrat', sans-serif;
      /* background: #FA7268; */
      background: #a5dd39;
      color: #ffffff;
      letter-spacing: .2rem;
      border: none;
  }
  #img-logo {
      margin-top: 1%;
      width: 100%;
      height: 100%;
  }
  .text-center {
      text-align: center;
  }
  .input-login {
      width: 80%; 
      height: 4em;
  }
  .form-titles {
      font-size: 1.2em;
      font-weight: 300;
  }
  .white-text{
      color: #ffffff !important;
  }
  .mdl-textfield__input  {
      margin: auto !important; 
      width: 80% !important;
  }
  .mdl-cell {
      box-sizing: border-box;
      height: 5%;
      padding-left: 8px;
      padding-top: 4px;
      color: rgb(27, 27, 27);
  }
  .input-class {
      border: white;
      /* border-bottom: 1px solid rgb(255, 255, 255); */
      width: 75%;

      border-radius: 40px;
      padding: 10px 10px 10px 10px;
  }
  /*hola*/